@import url("./presets/colors.css");

footer {
  border-top: 1px solid #d9d9d9;
  height: calc(100vh - 450px);
  position: relative;
  background-color: var(--main_color);
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  column-gap: 40px;
  z-index: 2;
}

#logo {
  cursor: pointer;
}

#tRight,
#tLeft {
  width: 0;
  height: 0;
  content: '';
  pointer-events: none;
}
#tLeft {
  position: absolute;
  bottom: 0;
  border-top: 160px solid transparent;
  border-right: 160px solid transparent;
  border-left: 160px solid var(--sec_color);
}
#tRight {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 160px solid transparent;
  border-left: 160px solid transparent;
  border-right: 160px solid #34143C;
}

#bfLeft {
  text-align: center;
}

#bfRight > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  & * {
    color: white;
  }
}
#bfRight > div > ul > a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
#bfRight > div > ul > a:hover {
  color: rgba(256, 256, 256, 0.6);
}
#bfRight > div > ul > a > li {
  list-style: none;
  margin-bottom: 30px;
}
#bfRight > div > ul > h1 {
  color: white;
  margin-bottom: 40px;
}

#bfMiddle {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*Formata as redes sociais*/
#socialMediaList > div {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 60px;
  justify-content: center;
}
#socialMediaList > div > a > i {
  color: white;
  font-size: 24px;
}
#socialMediaList > div > a > i:hover {
  color: rgba(256, 256, 256, 0.6);
}

#bfMiddle > hr {
  width: 100%;
}