/*animações*/
@import url("presets/altAnimations.css");
/*fim animações*/

/*estilos do header*/
#webHeader {
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    align-items: center;
    transition: 0.9s;
    background-color: rgba(255, 255, 255, 0.976);
    transition: 0.7s;
    z-index: 10;
}
#left {
    width: 12%;
    display: flex;
    float: left;
    height: 100%;
    align-items: center;
}

/*estilos do menu*/
#right {
    width: 96%;
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
    justify-content: right;
}
#navBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#right ul{
    display: flex;
    align-items: center;
}
#right ul li {
    margin: 0 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
#right ul li a{
    text-decoration: none;
    padding: 7px;
    border-radius: 10px;
}
.menu li a{
    color: black;
    transition: 0.9s;
}
.menu li a:hover{
    background-color: #f6f6f6;
}
.on {
    background-color: #f6f6f6;
    transition: 0.7s;
}
.FixedHeader {
    position: fixed;
    animation: slideDow 0.18s linear;
}
.upSideHeader {
    position: fixed;
    top: -70px;
    animation: slideUp 0.2s linear;
}
.hanbBtn {
    visibility: hidden;
}
.xBtn {
    display: none;
}

/*Responsivo para telas de 880px até 660px*/
@media screen and (max-width: 880px) {

    /*estilos do menu hanburguer*/
    .hanbBtn {
        visibility: visible;
        cursor: pointer;
        font-size: 20pt;
        color: black;
        background: none;
        border: none;
        margin: 0 15px 0 0;
        padding: 3px;
        border-radius: 10px;
        transition: 0.5s;
    }
    #left {
        width: 92%;
        justify-content: center;
    }
    #left img {
        margin-left: calc(8% + 60px);
    }
    #left h1 {
        display: none;
    }
    #right {
        width: 8%;
        border-left: 1px solid #ececec;
        height: 40px;
    }
    .hanbBtn:hover {
        background-color: #f6f6f6;
    }

    /*estilos do btn de fechar o menu responsivo*/
    .xBtn {
        display: block;
        cursor: pointer;
        z-index: 100;
        font-size: 15pt;
        color: black;
        background: none;
        transition: 0.5s;
        border: none;
        width: 30px;
        height: 30px;
        margin-left: calc(100% - 30px);
        margin-bottom: 5px;
    }
    .pressBtn {
        animation: Press 0.1s linear;
        background-color: #000000;
    }

    /*etilos do menu responsivo*/
    #navBar {
        z-index: 0;
        display: block;
        position: fixed;
        top: 0;
        background-color: var(--dark_Gray);
        height: 100dvh;
        width: 350px;
        z-index: 11;
        box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.397);
    }
    #navBar ul {
        display: inline;
        width: 100%;
        text-align: right;
        margin: 0;
    }
    #navBar ul a {
        width: 100%;
        padding: 3px;
        background: none;
        border: none;
        color: black;
        padding: 7px 10px;
        font-size: 14pt;
        margin: 2px 0;
        transition: 0.3s;
    }
    #navBar ul li {
        border-bottom: 1px solid rgba(236, 236, 236, 0.466);
    }
    #navBar ul li .on {
        background-color: rgba(236, 236, 236, 0.313);
    }
    #navBar ul a:hover {
        background-color: rgba(236, 236, 236, 0.313);
    }
    .slideToLeft {
        animation: slideLeftScreen 0.3s linear;
    }
    .hiddenM {
        overflow: hidden;
        animation: slideRigthScreen 0.5s linear;
        transition: 0.5s;
        position: fixed;
        transform: translateX(100dvw);
    }
    .xBtn:hover {
        background-color: red;
    }
}

/*Responsivo para telas de 660px até 470px*/
@media screen and (max-width: 660px) {
    #left {
        width: 90%;
    }
    #right {
        width: 10%;
    }
}

/*Responsivo para telas de 470px*/
@media screen and (max-width: 470px) {
    #left {
        width: 86%;
    }
    #right {
        width: 14%;
    }
}