.sectionBlock {
  margin-bottom: 20px;
}

.principalCard {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 10px;
}

.pNoticia {
  float: left;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.pNoticia > a {
  display: flex;
  flex-direction: column;
}

.sNoticias {
  width: 100%;
}
.sNoticias > ul {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}
.sNoticias > ul > li {
  border-radius: 10px;
  list-style: none;
  background-color: white;
  width: auto;
  padding: 30px;
}

.principalBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}
.principalBlock > div {
  width: auto;
}

#columnInteresse {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slides {
  width: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.slide {
  width: 100%;
  z-index: 0;
  transform: translateX(-50%);
  display: flex;
}
