.sectionBlock {
  margin-bottom: 20px;
}

.principalCard {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 10px;
}

.pNoticia {
  float: left;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.pNoticia > a {
  display: flex;
  flex-direction: column;
}

.sNoticias {
  width: 100%;
}
.sNoticias > ul {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}
.sNoticias > ul > li {
  border-radius: 10px;
  list-style: none;
  background-color: white;
  width: auto;
  padding: 30px;
}

.principalBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}
.principalBlock > div {
  width: auto;
}

#columnInteresse {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slides {
  width: 100%;
  margin: 0;
  background-color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 495px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  scroll-behavior: smooth;
}
.slides::-webkit-scrollbar {
  display: none;
}
.slide {
  width: calc(100% - 3px);
  display: flex;
  height: 500px;
  margin: 0px 3px;
  background-color: rgba(38, 38, 38, 0.199);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex: none;
  border-radius: 10px;
}
.slide > img {
  object-fit: cover;
  width: 100%;
  flex: none;
}
.imgCover {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.379);
  flex: none;
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
  transition: 0.7s;
}
.imgCover:hover {
  opacity: 1;
}
.slide > .imgCover {
  width: 100%;
  height: 500px;
  color: white;
}
.imgCover > a {
  text-decoration: none;
  flex: none;
  color: white;
  font-size: 16pt;
  display: flex;
  align-self:last baseline;
}
.imgCover > small {
  width: 100%;
  flex: none;
}