.block{
    background-color: #d9d9d9;
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 800px;
    overflow: hidden;
}
.card {
    width: 33%;
    height: 755px;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}
.card header {
    padding: 15px;
    height: 30px;
    border-radius: 10px 10px 0 0;
    background-color: red;
}