#searchArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
#searchBar {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100%;
}
#searchInput {
    border-radius: 15px 0 0 15px;
    border: 1px solid #000;
    width: 480px;
    padding: 0 0 0 7px;
    transition: 0.9s;
}
#searchBtn {
    width: 60px;
    background: none;
    border: 1px solid #000;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background-color: black;
}
#searchBtn:hover {
    background-color: #fff;
    border: 1px solid blue;
}

#searchBtn:hover i {
    color: black;
}
#searchBtn i {
    transition: 0.5s;
    font-size: 13pt;
    color: white;
}
#searchInput:hover {
    border: 1px solid blue;
}
#searchInput:focus {
    outline: none;
    border: 1px solid blue;
    color: blue;
}